<div style="text-align:center;">
<h1>About</h1>
</br>
<h5>ながのCAKEは全国発送可能なケーキ屋さんです。</h5>
<h5>お子様からお年寄りの方までお召し上がりいただけるよう、</h5>
<h5>様々なバリエーションをご用意しております。</h5>
<h5>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</h5>
<h5>ぜひご注文ください。</h5>
</br>

<%= image_tag 'naganocake.jpg' %>
</div>