<main>
  <h5>ジャンル編集</h5>
  <div class= "container">
    <div class= "row">
      <div class= "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        </br>
          <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
            <%= f.label :"ジャンル名" %>
            <%= f.text_field :name, autofocus: true, id:"inputname", placeholder:""%>
            <%= f.submit "変更を保存", class: "btn btn-success" %>
          <% end %>
      </div>
    </div>
  </div>
</main>