<h2>ジャンル一覧・追加 views/admin/genres/index</h2>

<h2>ジャンル一覧・追加</h2>

<%= form_with model: @genre do |f| %>
<label>ジャンル名</label><%= f.text_field :name %></br>
<%= f.submit "新規登録", class: "btn btn-success" %></br>
<% end %>

ジャンル一覧（テーブル）
ジャンル名　編集ボタン
